@mixin MaxWidth1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vmin 0;
  user-select: none;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__main {
      font-size: 3.5rem;
      letter-spacing: 16px;
      font-weight: 600;
      background: linear-gradient(#0857ac, #ffffff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      position: relative;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(180deg);
        line-height: 1.04em;
        transform-origin: bottom;
        background: linear-gradient(0deg, #fff 0, transparent 40%);
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0.5;
      }

    }

    &__footer {
      word-spacing: 15px;
      font-size: 1.1rem;
      margin-top: 2vmin;
    }
  }

  &__menu {
    display: flex;
    gap: 2vmin;
    width: 50%;

    &__option {
      color: white;
      flex: 1;
      text-align: center;
      font-size: 2.25vmin;
      border: .3vmin solid;
      padding: 1.5vmin;
      max-width: 25vmin;
      cursor: pointer;
    }

    @include MaxWidth1024 {
      flex-wrap: wrap;

      &__option {
        flex-basis: 40%;
      }
    }
  }
}
