@mixin MaxWidth1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @include MaxWidth1024 {
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vmin;
    font-size: 2.5vmin;

    & > input, & > textarea {
      background: #2e2e2e;
      border: white solid .1vmin;
      border-radius: 1vmin;
      font-size: 2.5vmin;
      color: white;
      padding: .5vmin 1vmin;
    }

    &__plus {
      background: #2e2e2e;
      border: solid .1vmin;
      border-radius: 1vmin;
      color: white;
      padding: 1vmin;
      aspect-ratio: 1;
      width: 5vmin;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
  }

  &__submit {
    background: none;
    color: white;
    text-align: center;
    font-size: 2vmin;
    border: .3vmin solid;
    padding: 1vmin;
    cursor: pointer;
  }
}