@mixin MaxWidth1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  @include MaxWidth1024 {
    width: 50%;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vmin;

    & > span {
      font-size: 2.5vmin;
    }

    & > input {
      background: #2e2e2e;
      border: white solid .1vmin;
      border-radius: 1vmin;
      font-size: 2.5vmin;
      color: white;
      padding: .5vmin 1vmin;
    }
  }

  &__submit {
    background: none;
    color: white;
    text-align: center;
    font-size: 2vmin;
    border: .3vmin solid;
    padding: 1vmin;
    cursor: pointer;
  }
}