.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__title {
    font-size: 3.5vmin;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}